.App {
  display: flex;
  border: 1px solid black;
  width: 450px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: steelblue;
  font-size: 1rem;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 60%;
  border-radius: 20px;
  text-align: center;
}
.App li {
  list-style: none;
  display: inline;
}
.pasteLink {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.embedAudio {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.embedVideo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
@media only screen and (max-width: 600px) {
  .App {
    width: 75vw;
  }
}
